@import "~styles/_colors";

.button {
  background-color: $primary-color;
  border: 0;
  height: 38px;
  min-width: 128px;
  border-radius: 40px;
  color: $white-color;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: $color7;
  }
}

.button_auto-width {
  width: 100%;
}
