$color1: #3949ab;
$color2: #ffffff;
$color3: #000000;
$color4: #828282;
$color5: #d0d0d0;
$color6: #ff6262;
$color7: #00227b;

$primary-color: $color1;
$white-color: $color2;
$text-color: $color4;
$border-color: $color5;
$error-color: $color6;
